<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Book</title>
</head>
<body>
	
	<div layout:fragment="content" class="container">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">adding a book</div>
				<div class="panel-body">
				<form th:action="@{saveBook}" method="post">
					<div class="form-group">
						<label class="control-label">Author</label>
						<input class="form-control" type="text" name="author" th:value="${book.author}"/>
						<span class="text-danger" th:errors="${book.author}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Title</label>
						<input class="form-control" type="text" name="title" 
						th:value="${book.title}"/>						
						<span class="text-danger" th:errors="${book.title}"></span>
					</div>
					<div class="form-group">
					<label class="control-label">Type</label>
						<select  name = "type" th:value="${book.type}">
				            <option value = "ROMAN" selected>Roman</option>
				            <option value = "BD">BD</option>
				         </select>
									
						<span class="text-danger" th:errors="${book.type}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Number Copies</label>
						<input class="form-control" type="text" name="numberCopies" 
						th:value="${book.numberCopies}"/>
						<span class="text-danger" th:errors="${book.numberCopies}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Number Books Available</label>
						<input class="form-control" type="text" name="numberBooksAvailable" 
						th:value="${book.numberBooksAvailable}"/>
						<span class="text-danger" th:errors="${book.numberBooksAvailable}"></span>
					</div>
					<button class="btn btn-primary">Save</button>
				</form>
			</div>
			
			</div>
		</div>
	</div>
</body>
</html>